h1{
	font-family: 'Black Ops One', cursive;
	font-weight: 700;
	color: #333;
	text-shadow: 0 0 30px #fff,0 0 30px #fff;
	display: inline-block;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
h1:hover{
	color: #fff;
}
#c_third a {
  color: #6F78D8;
  text-decoration: underline;
}
#c_third a:hover {
	text-decoration: none;
}
.twitter {
  display: block;
  margin: 5rem auto;
  position: absolute !important;
  width: 10rem !important;
  bottom: -10rem;
  left: 50%;
  margin-left: -5rem;
  -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
       -o-transition: all .25s ease;
          transition: all .25s ease;
}
.twitter img {
  width: 100%;
  border: 2px solid #FFF;
  border-radius: 10px;
  background: #fff;
}

@media screen and (max-width: 553px) {
  .twitter {
	  bottom: -4rem;
	}
	.twitter img {
	  width: 80%;
	}
}

@media screen and (min-device-width: 554px) and (max-device-width: 3024px) {
	body  {
		font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		background: #758DA7;
		color: #fff;
		text-align: center;
		min-width: 875px;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		/*background-image: url("../img/bg.jpg");*/
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		-o-background-size:cover;
		-ms-background-size:cover;
	}
	header{
		width: 100%;
		padding-top: 75px;
	}
	h1{
		margin-top:10px;
		font-size:50px;
	}

	h2{
	  font-family: 'Audiowide', cursive;
	  color: #FFF;
	  font-size: 33px;
	  font-weight: 800;
	  /* text-shadow: 0px 2px 2px #DDD; */
	  text-shadow: 0 0 1px #333,0px 0px 1px #333;
	}
	article{
		width: 100%;
		height: auto;
		/*background: #FEFEFE;*/
		margin: 1rem auto 0;
		/*min-width: 875px;*/
		/*overflow: hidden;*/
	}
/*	section *{
		overflow: hidden;
	}*/
	article a{
		width: 90%;
		height: auto;
		overflow: hidden;
	}
	#first,#second,#third,#fourth{
		display: inline-block;
		overflow: hidden;
		position: relative;
	}
	#first .text_1,#second .text_1,#third .text_1,#fourth .text_1{
		/* display: none; */
		/* font-family: "VL Pゴシック","VL PGothic"; */
		font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		color: #EEE;
		text-align: left;
		padding-left: 51px;
		margin-top: 13px;
		font-size: 16px;
		font-weight: 800;
		-webkit-transform: rotate(-14deg);
		-moz-transform: rotate(-14deg);
		-o-transform: rotate(-14deg);
		-ms-transform: rotate(-14deg);
		line-height: 38px;
		overflow: hidden;
		/* -webkit-animation: mgt 20s linear infinite; */
		/* animation: mgt 20s linear infinite; */
		position: absolute;
	}
	#first{
		width: 200px;
		height: 400px;
		background: rgba(255, 121, 121, 0.8);
		margin:10px 0;
	}
	#second{
		width: 200px;
		height: 400px;
		background: rgba(171, 227, 241, 0.8);
		margin:10px 0;
	}
	#third{
		width: 200px;
		height: 400px;
		background: rgba(105, 108, 189, 0.8);
		margin:10px 0;
	}
	#fourth{
		width: 200px;
		height: 400px;
		background: rgba(252, 204, 119, 0.8);
		margin:10px 0;
	}

	#first_h{
		position: absolute;
		background: rgba(240, 65, 65, 1);
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: block;
		/*opacity: 0;*/
		overflow: hidden;
	}

	#second_h{
		position: absolute;
		background: rgba(55, 189, 178, 1);
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: block;
		overflow: hidden;
	}

	#third_h{
		position: absolute;
		background: rgba(85, 88, 184, 1);
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: block;
		overflow: hidden;
	}

	#fourth_h{
		position: absolute;
		background: rgba(233, 171, 91, 1);
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: block;
		overflow: hidden;
	}
	.h2_h{
		height: 77px;
		margin: 149px auto 0;
		line-height: 64px;
		color: #FFF;
		font-size: 50px;
		word-wrap: break-word;
		overflow: hidden;
		-webkit-transform: rotate(-16deg);
		-moz-transform: rotate(-16deg);
		-o-transform: rotate(-16deg);
		-ms-transform: rotate(-16deg);
	}
	.h2_h2{
		height: 122px;
		margin: 121px auto 0;
		line-height: 64px;
		color: #FFF;
		font-size: 50px;
		word-wrap: break-word;
		overflow: hidden;
		-webkit-transform: rotate(-16deg);
		-moz-transform: rotate(-16deg);
		-o-transform: rotate(-16deg);
		-ms-transform: rotate(-16deg);
	}
	.h2_h3{
		display:none;
	}
	.bg_content{
		position: absolute;
		top: -10%;
		width: 100%;
		height: 115%;
		z-index: 0;
		overflow:visible;
	}
	#c_first,#c_second,#c_third,#c_fourth{
		width: 800px;
		height: auto;
		margin: 30px auto;
		padding: 1% 0;
	}
	#c_first{
		background: rgba(255, 121, 121, 0.9);
	}
	#c_second{
		background: rgba(171, 227, 241, 0.9);
	}
	#c_third{
		background: rgba(105, 108, 189, 0.9);
	}
	#c_fourth{
		background: rgba(252, 204, 119, 0.9);
	}
	#c_first h2,#c_second h2,#c_third h2,#c_fourth h2{
		font-size:50px;
		margin: -1px auto;
		color: #FFF;
	}
	#c_second .l_contents{
		text-align: left;
		/*border-right: solid 3px rgba(0,0,0,0.4);*/
	}
	#c_third .l_contents{
		vertical-align: middle;
		line-height: 22px;
	}
	#c_third .r_contents{
	}
	#c_fourth .l_contents{
		text-align: left;
	}
	#c_fourth .l_contents span{
		font-size: 14px;
		line-height: 16px;
	}
	#c_second .r_contents{
		/*border: none;*/
	}
	.c_h1{

	}
	.c_top_text{
		text-align: center;
		padding: 10px 40px;
		border: 3px solid rgba(0,0,0,0.3);
	}
	.l_contents{
		position: relative;
		/*float: left;*/
		display: inline-block;
		width: 300px;
		text-align: center;
		vertical-align: middle;
	}
	.l_contents img {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		margin: 0 auto;
	}
	.r_contents{
		font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		position: relative;
		/* float: left; */
		display: inline-block;
		width: 300px;
		border-left: solid 3px rgba(0,0,0,0.4);
		padding-left: 20px;
		line-height: 26px;
		vertical-align: middle;
	}
	.r_contents span{
		font-size: 12px;
		font-weight: 700;
	}
	.contents{
		width: 90%;
		height: auto;
		background: rgba(255, 255, 255, 0.8);
		margin: 20px auto;
		color: #333;
		text-align: left;
		padding: 50px;
		font-size: 0.8rem;
	}

	.clearfix:after{
	    content: "";
	    clear: both;
	    display: block;
	}
	.space{
		clear: both;
		height: 10px;
	}

}

@media screen and (max-width: 553px) {
	body  {
		background: #758DA7;
		color: #fff;
		text-align: center;
		min-width: 100%;
		width: 100%;
		height: auto;
		padding-bottom:60px;
		/*overflow: hidden;*/
		background-image: url("../img/bg.jpg");
		background-size:cover;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		-o-background-size:cover;
		-ms-background-size:cover;
	}
	header{
		padding-top: 75px;
	}
	h1{
		margin: 0px auto 28px;
		font-size:40px;
		color: #333;
	}

	h2{
		font-family: 'Audiowide', cursive;
		height: 77px;
		margin: 18px auto 0;
		line-height: 64px;
		color: #FFF;
		font-size: 50px;
		word-wrap: break-word;
		overflow: hidden;
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
	}
	article{
		min-width: 100%;
		width: 100%;
		height: auto;
		/*background: #FEFEFE;*/
		margin: 0 auto;
		text-align: center;
		/*min-width: 875px;*/
		/*overflow: hidden;*/
	}
	article a{
		display: block;
		margin:0 auto;
		text-align: center;
	}
	#first,#second,#third,#fourth{
		display: block;
		overflow: hidden;
		min-width: 93%;
		width: 93%;
		height: 100px;
		margin: 10px auto;
		z-index: 999;

	}
	#first .text_1,#second .text_1,#third .text_1,#fourth .text_1{
		 display: none;
	}
	#first{
		background: rgba(240, 65, 65, 0.8);
		/*margin:10px 0;*/
	}
	#second{
		background: rgba(55, 189, 178, 0.8);
		/*margin:10px 0;*/
	}
	#third{
		background: rgba(85, 88, 184, 0.8);
		/*margin:10px 0;*/
	}
	#fourth{
		background: rgba(233, 171, 91, 0.8);
		/*margin:10px 0;*/
	}

	#first_h{
		position: absolute;
		background: rgba(240, 65, 65, 1);
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: block;
	}

	#second_h{
		position: absolute;
		background: rgba(55, 189, 178, 1);
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: block;
	}

	#third_h{
		position: absolute;
		background: rgba(85, 88, 184, 1);
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: block;
	}

	#fourth_h{
		position: absolute;
		background: rgba(233, 171, 91, 1);
		top: 0;
		left: -100%;
		width: 0%;
		height: 100%;
		display: block;
	}
	.h2_h{
		height: 77px;
		margin: 18px auto 0;
		line-height: 64px;
		color: #FFF;
		font-size: 50px;
		word-wrap: break-word;
		overflow: hidden;
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-16deg);
		-o-transform: rotate(-16deg);
		-ms-transform: rotate(-16deg);
	}
	.h2_h2{
		display: none;
		height: 122px;
		margin: 121px auto 0;
		line-height: 64px;
		color: #FFF;
		font-size: 50px;
		word-wrap: break-word;
		overflow: hidden;
		-webkit-transform: rotate(-16deg);
		-moz-transform: rotate(-16deg);
		-o-transform: rotate(-16deg);
		-ms-transform: rotate(-16deg);
	}
	.h2_h3{
		display:block;
		height: 77px;
		margin: 19px auto 0;
		line-height: 64px;
		color: #FFF;
		font-size: 50px;
		word-wrap: break-word;
		overflow: hidden;
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		-o-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
	}
	.bg_content{
		position: absolute;
		top: -10%;
		width: 100%;
		height: 115%;
		z-index: 0;
		overflow:hidden;
		/*-webkit-transform-style: preserve-3d;*/
		/*-webkit-perspective: 100;*/
        /*-webkit-transform: translateZ( -100px );*/
	}
	#c_first,#c_second,#c_third,#c_fourth{
		width: 96% !important;
		height: auto;
		margin: 30px auto;
		padding: 1% 0;
		text-align: center;
	}
	#c_first{
		background: rgba(255, 121, 121, 0.9);
	}
	#c_second{
		background: rgba(171, 227, 241, 0.9);
	}
	#c_third{
		background: rgba(105, 108, 189, 0.9);
	}
	#c_fourth{
		background: rgba(252, 204, 119, 0.9);
	}
	#c_first h2,#c_second h2,#c_third h2,#c_fourth h2{
		font-size:50px;
		margin: 5px auto -10px;
		padding: 20px 0;
		color: #FFF;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
	}
	#c_first .r_contents{
		margin-top: 20px;
	}
	#c_second .l_contents{
		text-align: center;
		/*border-right: solid 3px rgba(0,0,0,0.4);*/
	}
	#c_third .l_contents:nth-child(1){
		/*margin-top: -30px;*/
	}
	#c_third .l_contents{
		vertical-align: middle;
		line-height: 10px;
		padding-bottom: 13px;
	}
	#c_third .r_contents{
		border-bottom: 2px dotted rgba(0,0,0,0.3);
		padding-bottom:10px;
		margin-bottom: 20px;
	}
	#c_third .r_contents:nth-child(3){
		border: none;
	}
	#c_third a,#c_fourth a{
		height: auto;
		line-height: 1;
	}
	#c_fourth .l_contents span{
		font-size: 14px;
		line-height: 16px;
	}
	#c_fourth .r_contents{
		margin-top: 10px;
	}
	#c_second .r_contents{
		margin-top: 20px;
		border: none;
	}
	.c_h1{
		font-size: 20px;
	}
	.c_top_text{
		text-align: center;
		padding: 10px 20px;
		border: 3px solid rgba(0,0,0,0.3);
	}
	.l_contents{
		position: relative;
		/*float: left;*/
		display: inline-block;
		width: 100%;
		text-align: center !important;
		vertical-align: middle;
	}
	.l_contents img {
		width: 100px;
		height: 100px;
		border-radius: 100%;
		margin: 0 auto;
	}
	.r_contents{
		font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		position: relative;
		/* float: left; */
		display: inline-block;
		line-height: 26px;
		vertical-align: middle;
		border: none;
		padding: 0;
		width: 100%;
	}
	.r_contents span{
		font-size: 12px;
		font-weight: 700;
	}
	.contents{
		width: 90%;
		height: auto;
		background: rgba(255, 255, 255, 0.8);
		margin: 20px auto;
		color: #333;
		text-align: center;
		padding: 50px 8px;
		font-size: 0.8rem;
	}
	.clearfix:after{
	    content: "";
	    clear: both;
	    display: block;
	}
	.space{
		clear: both;
		height: 10px;
	}

}



/******* SEVEN A (Arc) *******/
.sevena .shape-container {
  animation: move-right 6s infinite cubic-bezier(.37,.55,.49,.67);
  -webkit-animation: move-right 6s infinite cubic-bezier(.37,.55,.49,.67);
  position: absolute;
  left: -webkit-calc(50% - 4em);
  top: -webkit-calc(50% - 4em);
  left: calc(50% - 4em);
  top: calc(50% - 4em);
}
.sevena .shape {
  animation: bounce 6s infinite linear;
  -webkit-animation: bounce 6s infinite linear;
  border-radius: 50%;
  position: relative;
  left: auto;
  top: auto;
}
.sevena {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sevena .shape {
  background: #333;
  border: 0.5em solid #fff;
  width: 6em;
  height: 6em;
  position: absolute;
  top: calc(50% + 16em);
  left: calc(50% - 2em);
}

/******* SEVEN B (Arc) *******/

.sevenb .shape.a {
  animation: sevenb 3s infinite linear;
  -webkit-animation: sevenb 3s infinite linear;
  top: -webkit-calc(50% + 6em);
  left: -webkit-calc(50% - 15em);
  top: calc(50% + 6em);
  left: calc(50% - 15em);
  transform-origin: 15em 50%;
  -webkit-transform-origin: 15em 50%;
}
.sevenb .shape.b {
  animation: sevenb 6s infinite linear reverse;
  -webkit-animation: sevenb 6s infinite linear reverse;
  background: #333;
  width: 2em;
  height: 2em;
  left: -webkit-calc(50% - 1em);
  top: -webkit-calc(50% + 5em);
  left: calc(50% - 1em);
  top: calc(50% + 5em);
}

.sevenb .principle {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sevenb .shape {
  background: #333;
  border: 0.5em solid #fff;
  width: 4em;
  height: 4em;
  position: absolute;
  top: -webkit-calc(50% - 2em);
  left: -webkit-calc(50% - 2em);
  top: calc(50% - 2em);
  left: calc(50% - 2em);
}


@keyframes sevenb {
  100% {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes sevenb {
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-20em);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90%, 100% {
    transform: translateX(20em);
    opacity: 0;
  }
}

@-webkit-keyframes move-right {
  0% {
    -webkit-transform: translateX(-20em);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: translateX(20em);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-8em);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  15% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  25% {
    transform: translateY(-4em);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  32.5% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  40% {
    transform: translateY(0em);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  45% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  50% {
    transform: translateY(3em);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  56% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  60% {
    transform: translateY(6em);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  64% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  66% {
    transform: translateY(7.5em);
    animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  70%, 100% {
    transform: translateY(8em);
    animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-8em);
    -webkit-animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  15% {
    -webkit-transform: translateY(8em);
    -webkit-animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  25% {
    -webkit-transform: translateY(-4em);
    -webkit-animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  32.5% {
    -webkit-transform: translateY(8em);
    -webkit-animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  40% {
    -webkit-transform: translateY(0em);
    -webkit-animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  45% {
    -webkit-transform: translateY(8em);
    -webkit-animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  50% {
    -webkit-transform: translateY(3em);
    -webkit-animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  56% {
    -webkit-transform: translateY(8em);
    -webkit-animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  60% {
    -webkit-transform: translateY(6em);
    -webkit-animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  64% {
    -webkit-transform: translateY(8em);
    -webkit-animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
  66% {
    -webkit-transform: translateY(7.5em);
    -webkit-animation-timing-function: cubic-bezier(.51,.01,.79,.02);
  }
  70%, 100% {
    -webkit-transform: translateY(8em);
    -webkit-animation-timing-function: cubic-bezier(.19,1,.7,1);
  }
}
