
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


a {
text-decoration: none;
}

.container {
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	/*padding: 80px 0;*/
	overflow: hidden;
	z-index: 999;
}

#fc2_footer{
		display:none !important;
		opacity: 0;
}
#fc2_footer span{
	display:none !important;
	opacity: 0;
}

.bt-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	border-width: 0px;
	border-style: solid;
	border-color: #333;
	background-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
	z-index: 999;
}

.bt-menu.bt-menu-open {
	height: 100%;
	border-width: 90px 30px 30px 30px;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: border-width 0.3s, background-color 0.3s;
	transition: border-width 0.3s, background-color 0.3s;
}

.bt-overlay {
	position: absolute;
	width: 100%;
}

.bt-menu-open .bt-overlay {
	height: 100%;
}

.bt-menu-trigger {
	position: fixed;
	top: 22px;
	left: 50%;
	z-index: 100;
	display: block;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.bt-menu-trigger span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 8%;
	background-color: #fff;
	font-size: 0px;
	-webkit-transition: background-color 0.3s;
	transition: background-color 0.3s;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.bt-menu-open .bt-menu-trigger span {
	background-color: #2980b9;
}

.bt-menu-trigger span:before,
.bt-menu-trigger span:after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.bt-menu-trigger span:before {
	-webkit-transform: translateY(-250%);
	transform: translateY(-250%);
}

.bt-menu-trigger span:after {
	-webkit-transform: translateY(250%);
	transform: translateY(250%);
}

.bt-menu-open .bt-menu-trigger span:before,
.bt-menu-open .bt-menu-trigger span:after {
	background-color: #2980b9;
}

.bt-menu-open .bt-menu-trigger span:before {
	-webkit-transform: translateY(-350%);
	transform: translateY(-350%);
}

.bt-menu-open .bt-menu-trigger span:after {
	-webkit-transform: translateY(350%);
	transform: translateY(350%);
}

.bt-menu ul {
	position: fixed;
	top: 0px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	text-align: center;
	white-space: nowrap;
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0s 0.3s;
	transition: height 0s 0.3s;
}

.bt-menu.bt-menu-open ul {
	height: 90px;
	-webkit-transition: none;
	transition: none;
}

.bt-menu ul li,
.bt-menu ul li a {
	text-align: center;
}

.bt-menu ul li {
	display: inline-block;
	margin: 0 1%;
	width: auto;
	height: 90px;
	line-height: 90px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,100%,0);
	font-family: 'Audiowide', cursive;
}

.bt-menu ul li:nth-child(3) {
	margin-right: 63px;
}

.bt-menu ul li:nth-child(4) {
	margin-left: 20px;
}

.bt-menu.bt-menu-open ul li {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.bt-menu.bt-menu-open ul li:first-child,
.bt-menu.bt-menu-open ul li:last-child {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.bt-menu.bt-menu-open ul li:nth-child(2),
.bt-menu.bt-menu-open ul li:nth-last-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.bt-menu.bt-menu-open ul li:nth-child(3),
.bt-menu.bt-menu-open ul li:nth-last-child(3) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.bt-menu ul li a {
	display: block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.15em;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.bt-menu ul li a:before {
	display: none;
	font-size: 32px;
}

.bt-menu ul li a:hover,
.bt-menu ul li a:focus {
	color: #2980b9;
}

@media screen and (max-width: 65.1em) {
	.bt-menu ul li a {
		font-size: 90%;
	}
}

@media screen and (max-width: 55.5em) {
/*	.bt-menu ul li {
		margin: 0 15px;
	}

	.bt-menu ul li a {
		font-size: 0px;
	}

	.bt-menu ul li a:before {*/
		/*display: block;
	}*/
}

@media screen and (max-width: 32em) {
	.bt-menu ul li a {
		font-size: 80%;
		height: 1px !important;
		padding: 0;
	}
	.bt-menu ul li {
		position: absolute;
		display: block;
		float:left;
		margin: 0 5px;
		width: auto;
		height: 1px !important;
		/*line-height: 90px;*/
		padding: 0;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		-webkit-transform: translate3d(0,-100%,0);
		transform: translate3d(0,100%,0);
		font-family: 'Audiowide', cursive;
	}
	.bt-menu ul li:nth-child(1) {
		/*clear: both;*/
		top: -9%;
		left: 3%;
	}
	.bt-menu ul li:nth-child(2) {
		/*clear: both;*/
		top: -9%;
		left: 23%;
	}
	.bt-menu ul li:nth-child(3) {
		/*clear: both;*/
		top: 29%;
		left: 14%;
	}

	.bt-menu ul li:nth-child(4) {
		/*clear: both;*/
		top: -9%;
		left: 59%;
	}
	.bt-menu ul li:nth-child(5) {
		/*clear: both;*/
		top: 23%;
		left: 66%;
	}
	/*.bt-menu-trigger {
		width: 40px;
		margin-left: -20px;
	}

	.bt-menu ul li {
		margin: 0 2%;
	}

	.bt-menu ul li:nth-child(3) {
		margin-right: 50px;
	}

	.bt-menu ul li:nth-child(4) {
		margin-left: 50px;
	}

	.bt-menu ul li a:before {
		font-size: 24px;
	}*/
}




@-webkit-keyframes rot1 {
    0% { -webkit-transform: rotateX(30deg) rotateY(50deg) scale(1); left: 30%; top: 20%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 80%; top: 80%; }
    100%   { -webkit-transform: rotateX(30deg) rotateY(50deg) scale(1); left: 30%; top: 20%;}
}

@keyframes rot1 {
    0% { -moz-transform: rotateX(30deg) rotateY(50deg) scale(1); left: 30%; top: 20%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 80%; top: 80%; }
    100%   { -moz-transform: rotateX(30deg) rotateY(50deg) scale(1); left: 30%; top: 20%;}
}


@-webkit-keyframes rot2 {
    0% { -webkit-transform: rotateX(-50deg) rotateY(30deg) scale(1); left: 9%; top: 15%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 70%; top: 60%; }
    100%   { -webkit-transform: rotateX(-50deg) rotateY(30deg) scale(1); left: 9%; top: 15%;}
}

@keyframes rot2 {
    0% { -moz-transform: rotateX(-50deg) rotateY(30deg) scale(1); left: 9%; top: 5%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 70%; top: 60%; }
    100%   { -moz-transform: rotateX(-50deg) rotateY(30deg) scale(1); left: 9%; top: 5%;}
}

@-webkit-keyframes rot3 {
    0% { -webkit-transform: rotateX(-40deg) rotateY(-30deg) scale(1); left: 20%; top: 40%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 50%; top: 90%; }
    100%   { -webkit-transform: rotateX(-40deg) rotateY(-30deg) scale(1); left: 20%; top: 40%;}
}


@keyframes rot3 {
    0% { -moz-transform: rotateX(-40deg) rotateY(-30deg) scale(1); left: 20%; top: 40%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 50%; top: 90%; }
    100%   { -moz-transform: rotateX(-40deg) rotateY(-30deg) scale(1); left: 20%; top: 40%;}
}

@-webkit-keyframes rot4 {
    0% { -webkit-transform: rotateX(10deg) rotateY(270deg) scale(1); left: 10%; top: 66%; }
    50% { -webkit-transform: rotateX(30deg) rotateY(30deg) scale(0.7); left: 0%; top: 95%; }
    100%   { -webkit-transform: rotateX(270deg) rotateY(270deg) scale(1); left: 10%; top: 66%;}
}

@keyframes rot4 {
    0% { -moz-transform: rotateX(10deg) rotateY(270deg) scale(1); left: 10%; top: 66%; }
    50% { -moz-transform: rotateX(30deg) rotateY(30deg) scale(0.7); left: 0%; top: 95%; }
    100%   { -moz-transform: rotateX(270deg) rotateY(270deg) scale(1); left: 10%; top: 66%;}
}

@-webkit-keyframes rot5 {
    0% { -webkit-transform: rotateX(10deg) rotateY(90deg) scale(1); left: 50%; top: 50%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 10%; top: 81%; }
    100%   { -webkit-transform: rotateX(10deg) rotateY(90deg) scale(1); left: 50%; top: 50%;}
}

@keyframes rot5 {
    0% { -moz-transform: rotateX(10deg) rotateY(90deg) scale(1); left: 50%; top: 50%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 10%; top: 81%; }
    100%   { -moz-transform: rotateX(10deg) rotateY(90deg) scale(1); left: 50%; top: 50%;}
}

@-webkit-keyframes rot6 {
    0% { -webkit-transform: rotateX(-40deg) rotateY(-30deg) scale(1); left: 5%; top: 84%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 30%; top: 31%; }
    100%   { -webkit-transform: rotateX(-40deg) rotateY(-30deg) scale(1); left: 5%; top: 84%;}
}

@keyframes rot6 {
    0% { -moz-transform: rotateX(-40deg) rotateY(-30deg) scale(1); left: 5%; top: 84%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 30%; top: 31%; }
    100%   { -moz-transform: rotateX(-40deg) rotateY(-30deg) scale(1); left: 5%; top: 84%;}
}

@-webkit-keyframes rot7 {
    0% { -webkit-transform: rotateX(20deg) rotateY(20deg) scale(1); left: 73%; top: 70%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 40%; top: 11%; }
    100%   { -webkit-transform: rotateX(20deg) rotateY(20deg) scale(1); left:73%; top: 70%;}
}

@keyframes rot7 {
    0% { -moz-transform: rotateX(20deg) rotateY(20deg) scale(1); left: 73%; top: 70%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 40%; top: 11%; }
    100%   { -moz-transform: rotateX(20deg) rotateY(20deg) scale(1); left:73%; top: 70%;}
}

@-webkit-keyframes rot8 {
    0% { -webkit-transform: rotateX(-50deg) rotateY(-50deg) scale(1); left: 83%; top: 85%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 10%; top: 11%; }
    100%   { -webkit-transform: rotateX(-50deg) rotateY(-50deg) scale(1); left:83%; top: 85%;}
}

@keyframes rot8 {
    0% { -moz-transform: rotateX(-50deg) rotateY(-50deg) scale(1); left: 73%; top: 70%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 40%; top: 11%; }
    100%   { -moz-transform: rotateX(-50deg) rotateY(-50deg) scale(1); left:73%; top: 70%;}
}

@-webkit-keyframes rot9 {
    0% { -webkit-transform: rotateX(20deg) rotateY(20deg) scale(1); left: 3%; top: 93%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.7); left: 89%; top: 54%; }
    100%   { -webkit-transform: rotateX(20deg) rotateY(20deg) scale(1); left:3%; top: 93%;}
}

@keyframes rot9 {
    0% { -moz-transform: rotateX(120deg) rotateY(120deg) scale(1); left: 73%; top: 70%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.8); left: 40%; top: 11%; }
    100%   { -moz-transform: rotateX(120deg) rotateY(120deg) scale(1); left:73%; top: 70%;}
}

@-webkit-keyframes rot10 {
    0% { -webkit-transform: rotateX(120deg) rotateY(120deg) scale(1); left: 50%; top: 94%; }
    50% { -webkit-transform: rotateX(360deg) rotateY(360deg) scale(0.9); left: 5%; top: 88%; }
    100%   { -webkit-transform: rotateX(120deg) rotateY(120deg) scale(1); left: 50%; top: 94%;}
}

@keyframes rot10 {
    0% { -moz-transform: rotateX(20deg) rotateY(20deg) scale(1); left: 73%; top: 70%; }
    50% { -moz-transform: rotateX(360deg) rotateY(360deg) scale(0.9); left: 40%; top: 11%; }
    100%   { -moz-transform: rotateX(20deg) rotateY(20deg) scale(1); left:73%; top: 70%;}
}








@-webkit-keyframes mgt {
    0% { top:37px; }
    50% { top:90px; }
    100% { top:37px; }
}

/*



@-webkit-keyframes typing {
    from { width: 0; }
    to { width:16.3em; }
}

@-moz-keyframes typing {
    from { width: 0; }
    to { width:16.3em; }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}
*/
/*
@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframesblink-caret { 50% { border-color: transparent; } }*/